{% load static %}
<div class="nav">
    <nav>
        <ul class="navUl">
            <li><a href="{% url 'index' %}"><span class="fa fa-home" \><span class="marginSpan">Início</span></a></li>
            <li><a href="{% url 'index' %}"><span class="fa fa-music" \><span class="marginSpan">Biblioteca</span></a></li>
            <li><a href="{% url 'login' %}"><span class="fa fa-key" \><span class="marginSpan">Entrar</span></a></li>
            <li><a href="{% url 'logon' %}"><span class="fa fa-pen" \><span class="marginSpan">Cadastrar</span></a></li>
        </ul>
    </nav>
</div>