* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #07101d;
}

.main {
    top: calc(15vh + 3px);
    left: calc(23vw + 3px);
    width: calc(100% - 31vw - 3px);
    height: 85vh;
    position: fixed;
}

.header {
    top: 0;
    padding: auto;
    width: 100%;
    height: 15vh;
    position: fixed;
    display: flex;
    background: #0b182c;
    border-bottom: 3px solid rgb(19, 0, 129);
}

header.header div {
    margin: auto;
}

h1 {
    color: #e5f1ff;
    font-size: 24px;
}

img.logo-spotify {
    height: 48px;
}

.search__button {
    background: 0;
}

.search__input {
    border: 1px solid rgb(0, 0, 63);
    outline: 1px solid rgb(0, 0, 126);
    width: 25vw;
    height: 30px;
    border-radius: 8px;
    margin-left: 10px;
    padding-left: 10px;
}

.nav {
    top: 15vh;
    left: 3vw;
    width: 20vw;
    height: 20vh;
    display: flex;
    position: fixed;
    border: 3px solid rgb(19, 0, 129);
    border-left: 0;
    border-radius: 0 0 40px 0;
    background-color: #0b182c;
}

.navigate {
    width: 80%;
    margin: 0 auto 0 auto;
}

.navigate ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigate ul li {
    margin: 5% 0;
}

span.fa {
    color: #e5f1ff;
}

.margin__span {
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    margin-left: 10px;
}

.library {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: calc(3px + 35vh);
    height: calc(55vh - 9px);
    border-radius: 0 40px 0 0;
}

.library__nav {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.library__button {
    background: 0;
}

.section-playlist {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10%;
    margin-inline: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #07101d;
}

.text {
    color: #e5f1ff;
}

.section-playlist__button {
    margin: 0 auto 0 auto;
    padding: 10px;
    border: 1px solid #e5f1ff;
    border-radius: 10px;
    font-weight: 400;
    background-color: rgb(0, 0, 10);
    color: #e5f1ff;
}

.cookies a {
    margin: 0 0 0 10%;
    text-decoration-line: none;
    color: aquamarine;
    font-size: 1vw;
}

.cookies a:hover {
    text-decoration-line: underline;
    color: aqua
}

.cookies a:visited {
    color: aquamarine;
}

.cookies a:visited:hover {
    text-decoration-line: underline;
    color: aqua
}

.languages {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15% auto;
}

.languages button {
    height: fit-content;
    margin: auto 0 auto 0;
    background: 0;
}

.languages button span {
    font-size: 24px;
}

.languages__select {
    width: 80%;
    padding: 1vw;
    border: 1px solid #fff;
    border-radius: 8px;
    outline: 0;
    background: rgb(0, 0, 10);
    color: #e5f1ff;
}

.footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 3px solid rgb(19, 0, 129);
    background: repeating-linear-gradient(to right, rgb(0, 17, 255), black);
}

.footer div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 3%;
    gap: 0.5vh;
}

.footer__title {
    font-size: 2vw;
}

.footer__subtitle {
    font-size: 1.5vw;
}

.footer button {
    width: 10%;
    height: 50%;
    margin: auto 3% auto auto;
    padding: 5px;
    border: 1px solid rgb(19, 0, 129);
    border-radius: 8px;
    background-color: #fff;
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(19, 0, 129);
}
