* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';
    background: rgb(40, 37, 66);
}

.Main {
    margin-top: calc(18vh + 2px);
}

.Header {
    top: 0;
    padding: auto;
    width: 100%;
    height: 18vh;
    position: fixed;
    display: flex;
    background: #0b182c;
    border-bottom: 3px solid rgb(0, 0, 126);
}

div {
    background-color: pink;
    margin: 100px;
}

.HeaderH1 {
    margin: auto;
    font-size: 36px;
}

h1 {
    color: #e5f1ff;
    font-size: 24px;
}